<html>
    <head>
        {% extends "layout.html" %}
    </head>

    <body>
        <!-- Video view page -->
        {% block content %}
            <div>
                <video class="video-view" controls>
                    <source src="{{ url_for('static', filename='videos/' + video.video_content) }}" type="video/mp4">
                </video>
            </div>
            <p class="video-view-title">{{ video.video_title }}</p>
            <div class="video-view-tail-details">
                <span class="video-view-views"> 286,000 views </span>
                <span class="video-view-time">•{{ video.upload_time.strftime('%Y-%m-%d') }}</span>
                {% if video.author == current_user %}
                    <div>
                        <span><a class="button blue-button update-video-button" href="{{ url_for('update_video', id=video.id) }}">
                            Update
                        </a></span>
                        <span></span><a class="button blue-button delete-video-button" href="#">
                            Delete
                        </a></span>
                    </div>
                {% endif %}
            </div>

            <hr style="width: 1280px; margin-left: 2%;">
            
            <div class="video-view-user-details">
                <img src="{{ url_for('static', filename='avatar/' + video.author.avatar) }}" alt="Avatar" class="video-view-user-image">
                <div>
                    <a class="video-view-user-name" href="{{ url_for('account')}}">{{ video.author.user_name }}</a>
                    <p class="video-view-subscriber"> 1.2M Subscribers </p>
                </div>
            </div>

            <div class="video-view-description"> {{video.description}} </div>
        {% endblock content %}
    </body>
</html>