{% extends "layout.html" %}
{% block content %}
<div style="display: flex; flex-direction:row; flex-wrap: wrap; width: 1280; "></div>
    <article class="media content-section">
        <img style="height: 65px; width: 65px; margin-right: 16px;" class="rounded-circle"
            src="{{ url_for('static', filename='avatar/' + video.author.avatar) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('account')}}">{{ video.author.user_name }}</a>
                <small class="text-muted">{{ video.upload_time.strftime('%Y-%m-%d') }}</small>
            </div>
            <h5><a class="article-title" href="{{ url_for('video', id=video.id) }}">{{ video.video_title }}</a></h5>
            <video width="1280" height="720" controls>
                <source src="{{ url_for('static', filename='videos/' + video.video_content) }}" type="video/mp4">
            </video>
        </div>
    </article>
</div>
{% endblock content %}